<%- include('header') %>
<form class="container mt-5 p-3 rounded shadow"
    style="max-width: 400px;"
      method="post"
      action="/signin">
  <div class="form-group">
    <label for="username">用户名</label>
    <input type="text"
           name="name"
           class="form-control"
           id="username"
           required
           placeholder="请输入用户名">
  </div>
  <div class="form-group">
    <label for="password">密码</label>
    <input type="password"
           name="password"
           class="form-control"
           id="password"
           required
           placeholder="请输入密码">
  </div>
  <button type="submit"
          class="btn btn-primary">登录</button>
</form>
<%- include('footer') %>